<div class="header">

    
    <a href="#" id="menu-action">
      <i class="fa fa-bars"></i>
      <span>Close</span>
    </a>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex ">
        <a class="navbar-brand logo" href="#">Admin Panel</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav px-4">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <i class="fas fa-bell"></i><span class="label label-success">4</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-envelope"></i><span class="label label-success">4</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-flag"></i><span class="label label-success">4</span></a>
            </li>
            <li class="nav-item dropdown" id="header">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <img  class="img-fluid" src="../../../assets/img/images (1).jpg" alt="">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <li class="user-header text-center">
                     <img class="img-fluid" src="../../../assets/img/messi-wallpapers.jpg" alt="">
                     <p>Ajay Ahire - Web Developer </p>
                     <small>Since 2020 </small>
                 </li>
                 <li class="user-body bg-white">
                     <div class="row">
                         <div class="col-md-4">
                             <a href="#">Followers</a>
                         </div>
                         <div class="col-md-4">
                             <a href="#">Sales</a>
                         </div>
                         <div class="col-md-4">
                             <a href="#">Friends</a>
                         </div>
                     </div>
                 </li>
                 <li class="user-footer bg-light d-flex justify-content-between p-3">
                     <div class=" ">
                         <button class="  btn-info">Profile</button>
                     </div>
                     <div class=" ">
                         <button class="btn-info">Sign Out</button>
                     </div>
                 </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
   
</div>