<app-header></app-header>
<app-sidebar></app-sidebar>
 

<section class="content-header">
    <div class="headings">
        <div>
            <h3>Dashboard <small>Version 2.0</small></h3> 
        </div> 
    </div>

   <div class="  media-objects mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="media shadow p-4">
                <i class="fas fa-cog fa-3x mr-3 "></i>
                <div class="media-body">
                  <h5 class="mt-0">CPU Traffic</h5>
                  <span>234</span>                     
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="media shadow p-4">
                <i class="fab fa-google-plus-g fa-3x mr-2"></i>
                <div class="media-body">
                  <h5 class="mt-0">Likes</h5>
                  <span>10k+</span>                     
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="media shadow p-4">
                <i class="fas fa-shopping-cart fa-3x mr-3"></i>
                <div class="media-body">
                  <h5 class="mt-0">Sales</h5>
                  <span>2443</span>                    
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="media shadow p-4">
                <i class="fas fa-users fa-3x mr-2"></i>
                <div class="media-body">
                  <h5 class="mt-0">New Members</h5> 
                  <span>5000+</span>                    
                </div>
              </div>
        </div>
    </div>
   </div>


   <div class="mapsCards mt-4">
    <div class="card text-center">
        <div class="card-header">
          <span class="d-flex justify-content-between">Monthly Recap Report
              <span class="settingIcon  ">
                <i class="fas fa-minus"></i>
                <i class="fas fa-wrench"></i>
                <i class="fas fa-times"></i>
              </span>
          </span>
        </div>
        <div class="row">
            <div class="col-md-8" id="chartId">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-md-4 mt-3 ">
                <div class="mx-2"><h6>Goals Completed !</h6></div>
                <div class="barclass m-3 py-1">
                    <span class="d-flex justify-content-between">Add Products To Cart <span>160/200</span></span>
                    <div class="progress">
                        <div class="progress-bar bg-primary w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="barclass m-3 py-1">
                    <span class="d-flex justify-content-between">Add Products To Cart <span>160/200</span></span>
                    <div class="progress">
                        <div class="progress-bar bg-danger w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="barclass m-3 py-1">
                    <span class="d-flex justify-content-between">Add Products To Cart <span>160/200</span></span>
                    <div class="progress">
                        <div class="progress-bar bg-success w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="barclass m-3 py-1">
                    <span class="d-flex justify-content-between">Add Products To Cart <span>160/200</span></span>
                    <div class="progress">
                        <div class="progress-bar bg-warning w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>

        
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    
   </div>
















</section>