
<div class="wrapper"> 
   
    <nav id="sidebar" class="px-3 pt-3 pb-5">
      <!-- Step 2 -->
      <ul class="nav flex-column">
       <li class="nav-item mb-4">
          <h4>
            <a class="nav-link font-weight-bold text-white" href="#">LOGO</a>
          </h4>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-tachometer"></i>
            Dashboard</a
          >
        </li>
        <li class="nav-item my-2">
          <a routerLink="../all-books" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-white" href="#">
            <i class="fa fa-book"></i>
            All Books</a
          >
        </li>
         <li class="nav-item my-2">            
          <a class="nav-link text-white" href="#">
            <div class="dropdown">
                <button class="btn btn-transparent text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 More +
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>                
              </div></a>
        </li>
      </ul>
      <!-- Step 2 -->
    </nav>
    <div class="main-content">
      <nav class="navbar bg-light py-3">
   
        <!-- <button type="button" id="sidebarCollapse" class="btn">
          <i class="fa fa-align-left icon-toggle"></i>
        </button> -->
       
      </nav>
      <nav class="navbar shadow navbar-expand-lg navbar-light bg-light">       
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fa fa-align-left icon-toggle"></i>
          </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">          
          <form class="form-inline my-2 ml-auto boxx ">
              <div class="searchboxx">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <i class="fa fa-search "></i>  
              </div>
           
            <div class="mr-3 ml-3  bellIcon">
                <i class="fa fa-bell  "></i>
                <span class="notify">29</span>                
                </div>
                <div class="mr-3 ml-3  bellIcon">
                  <i class="fa fa-envelope  "></i>
                  <span class="notify">12</span>                
                  </div>
          </form>
          <div class="mr-3 ml-3 border-left    UserLogin">
            <p>Ajay Ahire <i class="fa fa-user ml-3"></i></p> 
            </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="m-3 text-primary">
          <h2>DashBoard</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6  py-2">
            <div class="card card1 mt-4 ">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between  align-items-center">
                  <div class="body-para1">
                    <div class="monthText">Earnings(Montly)</div>
                    <div class="  amount">$40000</div>
                  </div>
                 <div class=" ">
                   <i class="fa fa-table fa-2x"></i>
                 </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6    py-2">
            <div class="card card1 mt-4 ">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between    align-items-center">
                  <div class="  body-para1">
                    <div class="monthText">Earnings(Annual)</div>
                    <div class="  amount">$40000</div>
                  </div>
                 <div class=" ">
                   <i class="fa fa-dollar-sign fa-2x"></i>
                 </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6    py-2">
            <div class="card card1 mt-4 ">
              <div class="card-body shadow">
                <div class=" d-flex justify-content-between    align-items-center">
                  <div class="  body-para1">
                    <div class="monthText">Tasks</div>
                    <div class="d-flex justify-content-between align-items-center flex-row"><div class="amount">50%</div> <div><span class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" ></div>
                    </span></div></div>
                  </div>
                 <div class=" ">
                   <i class="fa fa-file fa-2x"></i>
                 </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6    py-2">
            <div class="card card1 mt-4 ">
              <div class="card-body shadow">
                <div class="d-flex justify-content-between    align-items-center">
                  <div class="  body-para1">
                    <div class="monthText">Pending Request</div>
                    <div class=" amount">18</div>
                  </div>
                 <div class=" ">
                   <i class="fa fa-edit fa-2x"></i>
                 </div> 
                </div>
              </div>
            </div>
          </div>         
      </div>


      <div class=" mt-4">
        <div class="row">
          <div class="col-md-8">
            <div class="card2 shadow mb-4">
              <div class="card-header d-flex justi py-3" >

               <h6 class="bold text-primary"> Earnings OverView</h6>
             
              </div>
              <div class="body">
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card2 shadow mb-4">
              <div class="card-header d-flex justi py-3" >

               <h6 class="bold text-primary">Revenue</h6>
             
              </div>
              <div class="body">
                
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class=" mt-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card2 shadow mb-4">
              <div class="card-header d-flex justi py-3" >
               <h6 class="bold text-primary">Projects</h6>             
              </div>
              <div class="body serverBody">
                <span class="ml-3 d-flex justify-content-between">Server Migration <span class="mr-3">20%</span></span>
                <div class="progress serverBars ml-3 mr-3 mt-2">                 
                  <div class="progress-bar bg-danger " style="width: 20%"></div>
                </div>
              </div>
              <div class="body serverBody">
                <span class="ml-3 d-flex justify-content-between">Sales Tracking<span class="mr-3">40%</span></span>
                <div class="progress serverBars ml-3 mr-3 mt-2">                 
                  <div class="progress-bar bg-warning" style="width: 40%">40%</div>
                </div>
              </div>
              <div class="body serverBody">
                <span class="ml-3 d-flex justify-content-between">Customer Database<span class="mr-3">60%</span></span>
                <div class="progress serverBars ml-3 mr-3 mt-2">                 
                  <div class="progress-bar bg-info"style="width: 60%"></div>
                </div>
              </div>
              <div class="body serverBody">
                <span class="ml-3 d-flex justify-content-between">Payout Details<span class="mr-3">80%</span></span>
                <div class="progress serverBars ml-3 mr-3 mt-2">                 
                  <div class="progress-bar bg-primary  "  style="width: 80%"></div>
                </div>
              </div>
              <div class="body serverBody  ">
                <span class="ml-3 d-flex justify-content-between">Account Setup<span class="mr-3">complete!</span></span>
                <div class="progress serverBars ml-3 mr-3 mt-2">                 
                  <div class="progress-bar bg-success "  style="width: 100%">100%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card2 shadow mb-4">
              <div class="card-header d-flex justi py-3" > 
               <h6 class="bold text-primary">Illustration</h6> 
              </div>
              <div class="body Illustration text-center mt-4">
                  <img class="img-fluid " src="assets\images\undraw_posting_photo.svg" alt="">
                  <p class="m-3">Add some quality, svg illustrations to your project courtesy of unDraw, a constantly updated collection of beautiful svg images that you can use completely free and without attribution! <br>
                    <a href="https://www.google.com"  >more info =></a>
                  </p>
                  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3 mb-3">
        <div class="row">
          <div class="col-md-6 bg-light"> 
              <div class="row mt-3">
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-secondary">
                   <span class="p-4">Secondary</span>
                  </div>
                </div>
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-primary">
                    <span class="p-4">primary</span>
                  </div>
                </div>
              </div> 
              <div class="row mt-3">
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-info">
                    <span class="p-4">info</span>
                  </div>
                </div>
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-warning">
                    <span class="p-4">warning</span>
                  </div>
                </div>
              </div> 
              <div class="row mt-3">
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-danger">
                    <span class="p-4">danger</span>
                  </div>
                </div>
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-white">
                    <span class="p-4">white</span>
                  </div>
                </div>
              </div> 
              <div class="row mt-3">
                <div class="col-md-6 shadow-s">
                  <div class="card card3 bg-success">
                    <span class="p-4">success</span>
                  </div>
                </div>
                <div class="col-md-6 shadow-sm">
                  <div class="card card3 bg-dark">
                    <span class="p-4">dark</span>
                  </div>
                </div>
              </div> 
          </div>

          <div class="col-md-6">
            <div class="card card4">
              <div class="card-header">
                <span>Development Apporach</span>
              </div>
              <div class="card-body ">
                <p class="devePara">SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes. <br>

                  Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
      
  <div class="footer text-center mt-5">
    <p class="foot">Copyright @2021</p>
  </div>
    </div> 
  </div>





  