
  <div class="sidebar">
    <ul>
    
   
      <li><a href="#collapseExample" aria-expanded="false"   data-toggle="collapse"><i class="fa fa-desktop"></i><span>Desktop</span><span><i class="fas fa-caret-right"></i></span></a>
        <div class="collapse" id="collapseExample">
          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action  ">
              Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action  ">Vestibulum at eros</a>
          </ul>
        </div>
      </li>
      <li><a href="#"><i class="fa fa-server"></i><span>Server</span></a></li>
      <li><a href="#"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
      <li><a href="#"><i class="fa fa-envelope-o"></i><span>Messages</span></a></li>
      <li><a href="#"><i class="fa fa-table"></i><span>Data Table</span></a></li>
    </ul>
  </div>
  
  