

<div class="wrapper"> 
   
    <nav id="sidebar" class="px-3 pt-3 pb-5">
      <!-- Step 2 -->
      <ul class="nav flex-column">
       <li class="nav-item mb-4">
          <h4>
            <a class="nav-link font-weight-bold text-white" href="#">LOGO</a>
          </h4>
        </li>
        <li class="nav-item my-2">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-tachometer"></i>
            Dashboard</a
          >
        </li>
        <li class="nav-item my-2">
          <a class="nav-link text-white" href="#">
            <i class="fa fa-book"></i>
            All Books</a
          >
        </li>
         <li class="nav-item my-2">            
          <a class="nav-link text-white" href="#">
            <div class="dropdown">
                <button class="btn btn-transparent text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 More +
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>                
              </div></a>
        </li>
      </ul>
      <!-- Step 2 -->
    </nav>
    <div class="main-content">
      <nav class="navbar bg-light py-3">
   
        <!-- <button type="button" id="sidebarCollapse" class="btn">
          <i class="fa fa-align-left icon-toggle"></i>
        </button> -->
       
           
      

      </nav>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">       
        <button type="button" id="sidebarCollapse" class="btn">
            <i class="fa fa-align-left icon-toggle"></i>
          </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">          
          <form class="form-inline my-2 ml-auto boxx ">
              <div class="searchboxx">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <i class="fa fa-search "></i>  
              </div>
           
            <div class="mr-3 ml-3  bellIcon">
                <i class="fa fa-bell fa-2x"></i>
                <span class="notify">199</span>
                </div>
          </form>
         
        </div>
      </nav>
    </div>
 
  </div>




  